.Main {
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 12%;
}

.Prijava {
    border-radius: 50px;
    height: 35px;
    width: 150px;
    background-color: #2c313f;
    border: 1px solid #2c313f;
    color: white;
}

.Prijava:hover {
    color: lightgray;
}

.Friends {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-image: url("../../assets/images/friends.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}

.Friends p {
    text-align: center;
    width: 50%;
}

.Misljenja {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.Misljenja h1 {
    color: #2c313f;
}

.ListaMisljenja {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Studenti {
    background-image: url("../../assets/images/students.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 110%;
    height: 500px;
}

.Pitanje {
    font-size: 200%;
    width: 60%;
    color: #2c313f;
    text-align: center;
}

.Registracija {
    background-color: #2c313f;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.Registracija p {
    width: 75%;
}

.Registracija button {
    background-color: white;
    border: 1px solid white;
    border-radius: 50px;
    height: 35px;
    width: 150px;
    color: #2c313f;
}

.Registracija button:hover {
    background-color: lightgray;
}

@media (max-width: 400px) {
    .Main {
        margin-top: 20%;
    }

    .Friends {
        background-image: url("../../assets/images/friends_mobile.jpg");
        background-repeat: no-repeat;
        height: 400px;
    }

    .ListaMisljenja {
        flex-direction: column;
    }

    .Pitanje {
        width: 100%;
    }

    .Studenti {
        background-image: url("../../assets/images/students_mobile.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 110%;
        height: 500px;
    }
}
